@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eras+Bold+ITC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bernadette&display=swap');

/* Estilos básicos */
body {
  background-image: url(/PNG/PNG/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.hello-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

hello-world {
  margin: 0;
  flex: 0 1 auto;
}

.hello-image {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  margin-left: 30px;
}

/* Estilos del header */
header {
  background-color: #151d33;
  color: white;
  padding: 50px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

h1, h2, h3, h4 {
  text-align: left;
  font-weight: bold;
  margin: 20px 0;
  position: relative;
}

h1 {
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1::after, h2::after, h3::after, h4::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: #d3d3d3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.components {
  padding: 20px;
}

#logo {
  color: white;
}

.component {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.btn-primary {
  display: inline-block;
  padding: 80px 100px;
  background-color: #ffc629;
  color: #151d33;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin: 15px;
  font-size: 24px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #d8a62e;
}

.btn-primary2 {
  padding: 20px 40px;
  background-color: #ffc629;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.download-button {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 8px 12px;
  background-color: rgba(0, 128, 0, 0.7);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px auto 0;
  border: none;
  cursor: pointer;
}

.download-button:hover {
  background-color: rgba(0, 128, 0, 0.9);
}

.container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
  max-width: 300px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten */
}

.font-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  margin-left: 0; /* Sin margen en pantallas pequeñas */
}

.font-box, .info-box {
  width: 45%;
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-box {
  background-color: #f9f9f9;
}

.font-box {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-box h2 {
  font-weight: normal;
}

.esmi-description {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 800px;
}

.title {
  font-weight: bold;
  color: #202070;
}

/* Estilos para el menú lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #202070;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  padding: 8px;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Ajuste del cuerpo para logo.html */
body.logo-page {
  margin-left: 220px;
  padding-left: 20px;
}

.logo-page section {
  padding: 20px;
}

image-downloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .hello-container {
    flex-direction: column;
    align-items: center;
  }

  .hello-image {
    margin-left: 0;
    margin-top: 20px;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  body {
    margin-left: 0;
    padding-left: 0;
  }

  .btn-primary, .btn-primary2 {
    padding: 20px 40px;
    font-size: 18px;
  }

  .color-box {
    flex-direction: column;
    align-items: center;
  }

  .color-swatch {
    width: 100%;
    height: auto;
  }
}
